apiVersion: apps/v1
kind: Deployment
metadata:
  name: hms-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hms-backend
  template:
    metadata:
      labels:
        app: hms-backend
    spec:
      containers:
      - name: hms-backend
        image: YOUR_DOCKER_USERNAME/hms-backend:latest
        ports:
        - containerPort: 8081
---
apiVersion: v1
kind: Service
metadata:
  name: hms-backend-service
spec:
  type: ClusterIP
  ports:
  - port: 8081
    targetPort: 8081
  selector:
    app: hms-backend
