---
- name: Deploy HMS using Ansible
  hosts: localhost
  connection: local

  tasks:

    - name: Build frontend image
      command: docker build -t YOUR_DOCKER_USERNAME/hms-frontend:latest ../frontend

    - name: Build backend image
      command: docker build -t YOUR_DOCKER_USERNAME/hms-backend:latest ../backend

    - name: Push frontend image
      command: docker push YOUR_DOCKER_USERNAME/hms-frontend:latest

    - name: Push backend image
      command: docker push YOUR_DOCKER_USERNAME/hms-backend:latest

    - name: Deploy frontend to Kubernetes
      command: kubectl apply -f ../k8s/frontend-deployment.yml

    - name: Deploy backend to Kubernetes
      command: kubectl apply -f ../k8s/backend-deployment.yml

